<div class="container">
  <h2>User info</h2>

      <% if @user.errors.any? %>
      <div class="alert-danger">
        <strong>
          <p><%= @user.errors.count %> error: cannot be saved</p>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </strong>
      </div>
    <% end %>

  <%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "name" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.attachment_field :profile_image, class: "user_image" %>
    </div>

    <div class="field">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: "introduction" %>
    </div>

    <div class="actions">
      <%= f.submit, class:"users" %>
    </div>

  <% end %>
</div>